<h1 mat-dialog-title>Add a new todo</h1>

<div mat-dialog-content>
  <form [formGroup]="todoFormGroup" (ngSubmit)="onAddTodo()">
    <mat-form-field>
      <input
        placeholder="What do you need to do?"
        formControlName="title"
        #titleInput
        matInput
        [errorStateMatcher]="errorStateMatcher"
      />
    </mat-form-field>
  </form>
</div>

<div mat-dialog-actions>
  <button type="button" mat-raised-button color="warn" mat-dialog-close>
    CANCEL
  </button>

  <button
    type="submit"
    (click)="onAddTodo()"
    mat-raised-button
    color="primary"
    [disabled]="todoFormGroup.invalid"
  >
    ADD
  </button>
</div>
