@import '~@angular/material/theming';
@import 'app/+todo/components/component-themes.scss';

@include mat-core();

$todo-primary: mat-palette($mat-teal);
$todo-accent: mat-palette($mat-grey);
$todo-warn: mat-palette($mat-red);
$todo-theme: mat-light-theme($todo-primary, $todo-accent, $todo-warn);

// [TODO] - only add themes for the components that are being used
@include angular-material-theme($todo-theme);
@include todo-theme($todo-theme);

html {
  background-color: map-get(map-get($todo-theme, 'background'), 'background');
}

html,
body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

.container {
  box-sizing: border-box;
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding: 16px;

  @media (min-width: 600px) {
    padding: 24px;
    max-width: 600px;
  }

  @media (min-width: 960px) {
    padding: 32px;
  }
}
