<mat-card>
  <mat-card-content>
    <mat-list
      class="todo-list"
      *ngIf="todos?.length > 0; else noContentTemplate"
    >
      <h2 class="mat-headline todos__title">Todos</h2>

      <ng-container
        *ngFor="let todo of todos; trackBy: trackByTodoId; last as isLast"
      >
        <nmg-todo-container [id]="todo.id"></nmg-todo-container>
        <mat-divider *ngIf="!isLast"></mat-divider>
      </ng-container>
    </mat-list>

    <ng-template #noContentTemplate>
      <div class="no-todos">
        <h2 class="mat-headline">No todos!!!</h2>

        <img
          src="../../../assets/dodo.svg"
          alt="Dodo Logo"
          class="no-todos__img"
        />

        <p class="mat-subheading-2">
          All your todos have become extinct!
        </p>
      </div>
    </ng-template>
  </mat-card-content>
</mat-card>
