<header>
  <mat-toolbar color="primary" class="mat-elevation-z4">
    <img
      src="../../../assets/dodo-light.svg"
      alt="Dodo Logo"
      class="header__brand-logo"
    />
    <span>Dodo</span>

    <div class="header__spacer"></div>

    <ng-container *ngIf="user">
      <mat-menu #menu="matMenu">
        <button mat-menu-item (click)="onSignOut()">
          Sign out
        </button>
      </mat-menu>

      <button mat-icon-button [matMenuTriggerFor]="menu" aria-label="Menu">
        <mat-icon>more_vert</mat-icon>
      </button>
    </ng-container>
  </mat-toolbar>
</header>
