<mat-card>
  <mat-card-content>
    <mat-tab-group dynamicHeight="true" mat-stretch-tabs>
      <mat-tab label="All">
        <ng-container
          *ngTemplateOutlet="todoListTemplate; context: { todos: todos }"
        >
        </ng-container>
      </mat-tab>

      <mat-tab label="Complete">
        <ng-container
          *ngTemplateOutlet="
            todoListTemplate;
            context: { todos: completeTodos }
          "
        >
        </ng-container>
      </mat-tab>

      <mat-tab label="Incomplete">
        <ng-container
          *ngTemplateOutlet="
            todoListTemplate;
            context: { todos: incompleteTodos }
          "
        >
        </ng-container>
      </mat-tab>
    </mat-tab-group>
  </mat-card-content>
</mat-card>

<ng-template #todoListTemplate let-todos="todos">
  <mat-list *ngIf="todos?.length > 0; else noContentTemplate">
    <ng-container
      *ngFor="let todo of todos; trackBy: trackByTodoId; last as isLast"
    >
      <nmg-todo-container [id]="todo.id"></nmg-todo-container>
      <mat-divider *ngIf="!isLast"></mat-divider>
    </ng-container>
  </mat-list>

  <ng-template #noContentTemplate>
    <div class="no-todos">
      <h2 class="mat-title">No todos</h2>

      <p class="body-1">
        All your todos have become extinct!
      </p>
    </div>
  </ng-template>
</ng-template>
